package templates

templ Index(name string) {
	@Layout("Welcome") {
		<h1>Hello, { name }</h1>
		if name != "World" {
			<a href="/logout">Logout</a>
		} else {
			<a href="/login">Login</a>
		}
	}
}
