package templates

templ Layout(title string, authenticated bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/assets/global.css"/>
		</head>
		<body>
			if authenticated {
				@Nav()
			}
			<main>
				{ children... }
			</main>
		</body>
	</html>
}
