package templates

import "sqlite/model"

templ TaskList(tasks []model.Task) {
	@Layout("Tasks", true) {
		<div class="scrollable-content">
			<div class="task-list">
				<div class="add-task-header">
					<button id="add-task">+ Add Task</button>
				</div>
				for _, task := range tasks {
					@TaskItem(task, false)
				}
			</div>
		</div>
		<dialog id="dialog">
			<form method="post" action="/newTask" class="spaced large">
				<h3>Add new task</h3>
				<input type="text" placeholder="Task title" name="title" required/>
				<div class="form-buttons">
					<button type="button" class="cancel">Cancel</button>
					<button type="submit">Submit</button>
				</div>
			</form>
		</dialog>
		<script type="module" src="/assets/task-list.js"></script>
		<script type="module" src="/assets/drag-and-drop.js"></script>
	}
}
