package templates

import "sqlite/model"

func TaskFormTitle(name string) string {
	if name == "" {
		return "New task"
	}
	return "Edit task"
}

templ TaskForm(task model.Task) {
	@Layout(TaskFormTitle(task.Title), true) {
		<form method="post" class="p2 spaced">
			<h1>{ TaskFormTitle(task.Title) }</h1>
			<div>
				<label for="title">Title</label>
				<input type="text" name="title" value={ task.Title } autofocus/>
			</div>
			<div>
				<label for="description">Description</label>
				<textarea name="description">{ task.Description }</textarea>
			</div>
			if task.Title == "" {
				<button type="submit">Create</button>
			} else {
				<button type="submit">Save</button>
			}
		</form>
	}
}
