package templates

import (
	"fmt"
	"sqlite/model"
)

templ Tasks(tasks []model.Task) {
	@Layout("Tasks", true) {
		<h1>Tasks</h1>
		<a href="/newTask">Create New</a>
		<ul>
			for _,task :=  range tasks {
				<li>
					<div>
						<span>{ task.Title }: </span>
						<span>{ task.Description }</span>
						<a href={ templ.URL(fmt.Sprintf("/tasks/%d", task.ID)) }>View</a>
					</div>
				</li>
			}
		</ul>
	}
}
