package templates

import "sqlite/model"
import "fmt"
import "database/sql"

templ TaskList(tasks []model.Task, parentID sql.NullInt64) {
	<div class="task-list">
		<div class="add-task-header">
			<button id="add-task">+ Add Task</button>
		</div>
		for _, task := range tasks {
			@TaskItem(task, false)
		}
	</div>
	<dialog id="dialog">
		<form method="post" action="/newTask" class="spaced large">
			<h3>Add new task</h3>
			<input type="text" placeholder="Task title" name="title" required/>
			if parentID.Valid {
				<input type="hidden" name="parentID" value={ fmt.Sprint(parentID.Int64) } id="parentID"/>
			}
			<div class="form-buttons">
				<button type="button" class="cancel">Cancel</button>
				<button type="submit">Submit</button>
			</div>
		</form>
	</dialog>
}
